<div class="content">
<div class="humb-b">
<div class="middle">
<a id="menu" class="humb"><span></span></a> 
</div>
</div>       
<div class="logo-b">
<div class="middle">
<a class="logo"></a>    
</div>
</div>
<div class="nav-b">
<div class="middle">
<nav>
<a>О регионе</a>
<a>Инвестору</a>
<a>Проекты</a>
<a>Новости</a>
<a>Обратная связь</a>  
</nav>    
</div>    
</div>  
<div class="linked-b">
<div class="middle">
<a class="sl-v">версия для слабовидящих</a>
<a id="search" class="sear"></a>    
</div>
</div>
<div class="lang-b">
<div class="middle">
<div id="langs" class="lang">
<a id="rus" class="lsr active">РУС</a>
<a id="eng" class="lsr">ENG</a>
<i id="sb"></i>
</div>    
</div>
</div>
</div>